States with Populations Smaller than Orange County, CA
======================================================
Total States: {{ chart.states_smaller_than_oc_sorted|length }}

{{ small_states|pprint }}
