Think Stats 2e
Chapter 2 | Exercise 3
======================
The mode of a distribution is the most frequent value.

# Mode for Pregnancy Length
{{ mode }} (freq: {{ mode_freq }})


# All Modes
{{ modes }}
