Think Stats 2e
Chapter 2 | Exercise 1
======================
# Average Pregnancy Length
First: {{ "%.2f" | format(first.mean) }}
Other: {{ "%.2f" | format(other.mean) }}

# Standard Deviation
First: {{ "%.2f" | format(first.stdev) }}
Other: {{ "%.2f" | format(other.stdev) }}
