Think Stats 2e
Chapter 3 | Exercise 2
======================
Write functions called PmfMean and PmfVar that take a Pmf object and compute the
mean and variance. To test these methods, check that they are consistent with the
methods Mean and Var provided by Pmf.

pmf: {{ pmf }}
pmf.mean: {{ "%.2f" | format(pmf.mean) }}
pmf.variance: {{ "%.2f" | format(pmf.variance) }}
